<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::body-content}, ~{::body-scripts}, ~{::body-stylesheet})}"
      lang="ja">
<th:block th:fragment="title">
    <title>掲示板新規投稿</title>
</th:block>
<th:block th:fragment="body-stylesheet"></th:block>
<th:block th:fragment="body-content">
    <h1>掲示板</h1>
    <a th:href="@{/board/new}" class="btn btn-primary">新規投稿</a>
    <div class="mt-3">
        <form th:action="@{/board/}" method="get">
            <!-- コントローラでmodelにformを追加しなくても、以下のようにformオブジェクトを受け取れる-->
            <!-- Spring徹底入門 162p参照 -->
            <input type="text" name="searchWord" placeholder="投稿内容の検索" th:value="${boardIndexForm.searchWord}">
            <input type="submit">
        </form>
    </div>
    <div class="vstack gap-3 mt-3">
        <div th:each="post : ${view.list}" class="border border-info" >
            <p>投稿者：[[${post.postAccountName}]]</p>
            <p>投稿内容：[[${post.content}]]</p>
            <!-- 投稿者とログインユーザーが一致する場合は編集画面へのリンクを表示 -->
            <th:block th:if="${post.postAccountName == #authentication.principal.username}">
                <!--   リンク式でmodelのパラメータを使う時は以下のような感じ     -->
                <a th:href="@{'/board/edit/' + ${post.postId}}">編集画面へ</a>
            </th:block>
        </div>
    </div>
    <div th:with="pager=${view.pager}">
        <th:block th:replace="~{/parts/pager}" ></th:block>
    </div>
</th:block>
<th:block th:fragment="body-scripts"></th:block>
</html>