<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::body-content}, ~{::body-scripts}, ~{::body-stylesheet})}"
      lang="ja">
<th:block th:fragment="title">
    <title>掲示板新規投稿</title>
</th:block>
<th:block th:fragment="body-stylesheet"></th:block>
<th:block th:fragment="body-content">
    <h1>掲示板</h1>
    <div th:unless="${#strings.isEmpty(successMsg)}" class="text-success">
        <p th:text="${successMsg}"></p>
    </div>
    <div th:unless="${#strings.isEmpty(errorMsg)}" class="text-warning">
        <p th:text="${errorMsg}"></p>
    </div>
    <form method="POST" th:action="@{/board/post}">
        <div class="vstack gap-3">
            <div>
                <p>現在のユーザー名：<span sec:authentication="principal.username"></span></p>
                <input name="postId" type="hidden" th:unless="${#strings.isEmpty(form.postId)}" th:value="${form.postId}">
                <div>
                    <label for="content" class="form-label">投稿内容</label>
                    <textarea class="form-control" id="content" rows="5" cols="80" wrap="soft" name="content" >[[${form.content}]]</textarea>
                </div>
                <div>
                <!--  新規投稿時は送信、編集時は更新ボタンを表示する  -->
                    <th:block th:if="${#strings.isEmpty(form.postId)}">
                        <input type="submit" value="送信" >
                    </th:block>
                    <th:block th:unless="${#strings.isEmpty(form.postId)}">
                        <input type="submit" value="更新" >
                    </th:block>
                </div>
            </div>
        </div>
    </form>


</th:block>
<th:block th:fragment="body-scripts"></th:block>
</html>