<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::body-content}, ~{::body-scripts}, ~{::body-stylesheet})}"
      lang="ja">
<th:block th:fragment="title">
    <title>掲示板新規投稿</title>
</th:block>
<th:block th:fragment="body-stylesheet"></th:block>
<th:block th:fragment="body-content">
    <h1>掲示板</h1>
    <form method="POST" action="/board/">
        <div class="vstack gap-3">
            <div>
                <label for="userName" class="form-label">名前</label>
                <input placeholder="名前" class="form-control" id="userName" th:value="${view.userName}">
            </div>
            <div>
                <label for="content" class="form-label">投稿内容</label>
                <textarea class="form-control" id="content" rows="5" cols="80" wrap="off"
                          th:value="${view.content}"></textarea>
            </div>
            <div>
                <button>送信</button>
            </div>
        </div>
    </form>


</th:block>
<th:block th:fragment="body-scripts"></th:block>
</html>